<html>
<body >



<form action="http://127.0.0.1:8081/student/create" method="POST">
  


  username:
  <input type="text" name="username"><br><br>
  phone_numbers:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="phone_numbers"><br><br>
  college_name:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="college_name"><br><br>
  address:&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="address"><br><br>
 
  <input type="submit" name="submit" value="submit"><br><br>

</form>



</body>
</html>